<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Proof of concept, parsing av @oslopolitiops">
    <meta name="author" content="Markus Krallinger">
    
    <title>Proof of concept, parsing av @oslopolitiops</title>
  </head>

  <body>
     <%= render @view_module, @view_template, assigns %>
  </body>
</html>
